# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.md @YOURLS/core
blog/ @YOURLS/core
docs/ @YOURLS/core
src/ @YOURLS/core
/package.json
/package-lock.json
