body {
  --vt-c-brand: #2a85b3;
  --vt-c-brand-light: #88c0eb;
  --vt-c-brand-dark: #1f669c;
  --vt-c-brand-highlight: #2a85b3;
  --vt-c-green: #2a85b3;
}

.dark body {
  --vt-c-brand: #88c0eb;
  --vt-c-brand-light: #1f669c;
  --vt-c-brand-dark: #88c0eb;
  --vt-c-brand-highlight: #c7e7ff;
  --vt-c-green: #88c0eb;
  --docsearch-container-background: rgba(0, 0, 0, 0.5);
}

a.VPNavBarTitle span {
  display: none;
}

a.VPNavBarTitle svg {
  display: none;
}

a.VPNavBarTitle {
  width: 40px;
  background-image: url(/favicon.svg);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

/* Fix for code blocks' one-too-many line */
.vt-doc pre code > span:last-of-type {
  display: none;
}

/* Add missing PHP in code blocks */
.vt-doc [class~='language-php']::before {
  content: 'php';
}
