:root {
  --c-brand: #2a85b3;
  --c-brand-light: #88c0eb;
  --c-brand-dark: #1f669c;
  --c-brand-highlight: #2a85b3;

  scroll-behavior: smooth;
}

html.dark {
  --c-brand: #88c0eb;
  --c-brand-light: #1f669c;
  --c-brand-dark: #88c0eb;
  --c-brand-highlight: #c7e7ff;
}

.home .hero img {
  max-height: 150px;
}
