# https://docs.github.com/actions

name: Publish

on:
  push:
  schedule:
    - cron: '30 15 * * *'

permissions:
  deployments: write

jobs:
  publish:
    name: Cloudflare Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm

      - name: Install NPM packages
        run: npm ci

      - name: Fetch sponsors
        run: npm run fetch-sponsors --if-present
      - name: Run build
        run: npm run build --if-present

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3.13.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy --project-name=${{ vars.CLOUDFLARE_PROJECT_NAME }} build
